<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pashya.melodrome" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Melodrome</name>
    <content src="index.html" />
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
        </config-file>
    </platform>
</widget>